.App {
  font-family: sans-serif;
  text-align: center, padding: 20px;
}
.fon_card {
  background-color: rgb(25, 187, 119);
  border:6px solid #28ff56;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}
.info_card h2 {
  color: blue;
}
